# also add this name in terraform.tfvars
BUCKET_NAME=<choose-bucket-name>

ENDPOINT=http://localstack:4566
REGION=sa-east-1
SOURCE_URL=https://disease.sh/v3/covid-19/countries
DB_SYSTEM=postgresql

# choose your own values for these
POSTGRES_USER=<choose-username>
POSTGRES_PASSWORD=<choose-password>
POSTGRES_DB=<choose-database-name>

HOST=pgdatabase
PORT=5432